* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VARS*/
.nav_link {
  display: flex;
  margin: 20px;
  color: #343352;
  align-items: left;
  justify-content: flex-start;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.nav_link nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fffdf4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Oxygen", sans-serif;
  background-color: #fefdfa;
}

.background_body {
  background-image: url(../imagenes/bg.png);
  background-size: cover;
}

.nav_link {
  display: flex;
  margin: 20px;
  color: #343352;
  align-items: left;
  justify-content: flex-start;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.footer_link {
  text-decoration: none;
}

.container-my {
  margin: auto;
  justify-content: center;
}

.imagentalles {
  border-radius: 36px;
  box-shadow: -1px 2px 24px 0px rgba(0, 0, 0, 0.75);
}

footer {
  background-color: #000000;
  color: white;
  padding: 20px;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
}

.footer_guia {
  background-color: #000000;
  color: white;
  padding: 20px;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
}

header {
  background-color: #fffdf4;
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.card {
  align-items: center;
  border-top-right-radius: 48px;
  border-top-left-radius: 48px;
}

article button {
  background: black;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formbg {
  border-radius: 5px;
  background-color: #c2c2c2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.subtitle {
  margin: 10px;
  padding: 20px;
}

.row:after {
  content: icon;
  display: table;
  clear: both;
}

/*@media screen and (max-width: 600px) .col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
} */
@media (min-width: 900px) {
  .carrousel-index {
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
@keyframes img-logo {
  0% {
    opacity: 0;
    transform: translate(80px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
img-logo {
  animation: img-logo 1.5s ease;
}

.cajatalles {
  justify-content: center;
  margin: 0 auto;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 19px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 1/2/2/3;
}

.div3 {
  grid-area: 1/3/2/4;
}

.div4 {
  grid-area: 1/4/2/5;
}

/*# sourceMappingURL=style.css.map */
