* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fffdf4;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.logo {
  margin-left: 50px;
}

.container-my {
  display: flex;
  width: 50%;
  margin: 0 auto;
  max-width: 1320px;
  justify-content: center;
}

.imagencentro {
  width: 50%;
  position: absolute right 5%;
}

.guiatalles {
  box-shadow: 0 10px 30px -10px coral;
}

.imagentalles {
  padding-top: 10%;
  padding-bottom: 10%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Oxygen", sans-serif;
  padding: 1rem;
}

.nav_link {
  display: flex;
  margin: 20px;
  color: #343352;
  align-items: left;
  justify-content: flex-start;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
}

.col {
  display: flex;
}

section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
}

article img {
  order: -1;
  align-self: center;
}

article button {
  background: black;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.formbg {
  border-radius: 5px;
  background-color: #c2c2c2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: icon;
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) .col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
}

@media (min-width: 992px) {
  .alto {
    height: 100vh;
  }
}

@keyframes .img-logo {
  0% {
    opacity: 0;
    transform: translate(80px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

.img-logo {
  animation: .img-logo 1.5s ease;
}
